*{
    text-decoration: none !important;
}.ban{
    background-image: url(../page_3/images/bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    color: white;
    font-weight:  bold;
}
.navbar-nav li{
    color: white;
    font-weight: 600;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 600;
}
.navbar-collapse ul li{
    margin-left: 20px !important;
}
.navbar-collapse ul li button{
    background-color: white;
    color: #20445F;
    font-weight: 500;
    border: none;
}

/* ///////////////////////////// */
.ban-text {
    color: white;
    margin-top: 100px;
}
.ban-text h1{
    margin: 30px 0px 30px 0px;
    font-size: 60px;
    font-weight: 800;
}


/* ,,,,,,,,,,,,,,,,,,,,,,, */
.stu-cards{
    background-color: #EEEEEE;
    height: 470px;
    border-radius: 20px;
    margin-top: 80px;
    width: 300px;
}
.stu-cards-text {
    padding: 0px 25px;
}
.stu-cards-text h4{
     color: #012949;
     font-size: 28px;
     font-weight: 800;
     margin-top: 40px;
}

.stu-cards-text p{
    font-size: 18px;
    margin-top: 20px;
}
.stu-cards-text {
    font-size: 18px;
}
.stu-cards-text > div i{
    font-size: 45px;
    margin: 0px 8px;
    margin-top: 20px;
    margin-bottom: 120px;
}
.stu-cards-text > div i:first-child{
    color: #F89E35;
}
.stu-cards-text > div i:nth-child(2){
    color: #2A99FF;
}
.stu-cards-text > div i:last-child{
    color: #63DC4F;
}

/* ............................... */

footer{
    background-color: #012949;
    color: #FFFFFF;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

footer h5{
    color: #1F83E0;
}
.f-icon i{
    color: #8AA7BE;
    font-size: 35px;
    margin-right: 20px}
.copyright{
    width: 100% !important;
}
.copyright p{
    border-top: 1px solid white;
    width: 100%;
}

/* media queries     ===================== */

@media (max-width: 991.98px) { 
    .ban-text h1{
        margin-top: -50px;
        font-size: 40px;
    }
    footer{
        height: 120vh;
        margin-top: 100px;
    }
}
@media (max-width: 767.98px) { 
    
 }
@media (max-width: 575.98px) { 
    .ban{
        height: 150vh;
    }
    .ban-text{
        margin-left: 50px;
    }
    .ban-text h1{
        font-size: 20px;
    }
    footer{
        height: 250vh;
    }
}